In [4]:
import json
import pandas as pd
import numpy as np

In [5]:
file_dir = '../Movies-ETL/'

In [6]:
kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}ratings.csv')

In [7]:
kaggle_metadata.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [8]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [12]:
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
5403,False,NaN,0,"[{'id': 10402, 'name': 'Music'}, {'id': 18, 'n...",NaN,97447,tt0300453,fr,Satin Rouge,"After the death of her husband, Lilia's life r...",...,2002-05-16,0.0,100.0,"[{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...",Released,NaN,Satin Rouge,False,5.0,1.0
19333,False,NaN,0,"[{'id': 878, 'name': 'Science Fiction'}, {'id'...",http://www.doomsdaybook.kr/,118624,tt2297164,ko,인류멸망보고서,"In 'A Brave New World', a virus brings the cit...",...,2012-04-11,0.0,113.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Doomsday Book,False,5.9,36.0
26723,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,171032,tt0026675,en,Man of the Moment,Love blossoms after a young man rescues a pret...,...,1935-09-01,0.0,81.0,"[{'iso_639_1': 'de', 'name': 'Deutsch'}, {'iso...",Released,NaN,Man of the Moment,False,0.0,0.0
27557,False,NaN,0,[],NaN,167938,tt0089355,nl,Istanbul,"Willy, a student, quits his vacationjob to go ...",...,1985-01-30,0.0,0.0,[],Released,NaN,Istanbul,False,0.0,0.0
27396,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 80, 'nam...",NaN,38346,tt0034546,en,Bowery at Midnight,Soup kitchen operator and criminologist Bela L...,...,1942-10-30,0.0,61.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The monster and the ghoul! One deals in wholes...,Bowery at Midnight,False,5.5,2.0

In [13]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
13376294  139081     1049     3.0   893625109
25805000  268464     3421     3.0  1067279854
10951036  113229       61     5.0   854306304
22073713  229202     3623     4.0  1138930893
13376519  139082     1994     3.0   945219037

In [15]:
kaggle_metadata.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [16]:
kaggle_metadata['adult'].value_counts()

False                                                                                                                             45454
True                                                                                                                                  9
 - Written by Ørnås                                                                                                                   1
 Rune Balot goes to a casino connected to the October corporation to try to wrap up her case once and for all.                        1
 Avalanche Sharks tells the story of a bikini contest that turns into a horrifying affair when it is hit by a shark avalanche.        1
Name: adult, dtype: int64

In [17]:
kaggle_metadata[~kaggle_metadata['adult'].isin(['True','False'])]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,"[{'name': 'Carousel Productions', 'id': 11176}...","[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,"[{'name': 'Aniplex', 'id': 2883}, {'name': 'Go...","[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,"[{'name': 'Odyssey Media', 'id': 17161}, {'nam...","[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
kaggle_metadata = kaggle_metadata[kaggle_metadata['adult'] == 'False'].drop('adult',axis='columns')

In [19]:
kaggle_metadata['video'].value_counts()

False    45358
True        93
Name: video, dtype: int64

In [20]:
kaggle_metadata['video'] == 'True'

0        False
1        False
2        False
3        False
4        False
         ...
45461    False
45462    False
45463    False
45464    False
45465    False
Name: video, Length: 45454, dtype: bool

In [21]:
kaggle_metadata['video'] = kaggle_metadata['video'] == 'True'

In [22]:
kaggle_metadata['budget'] = kaggle_metadata['budget'].astype(int)
kaggle_metadata['id'] = pd.to_numeric(kaggle_metadata['id'], errors='raise')
kaggle_metadata['popularity'] = pd.to_numeric(kaggle_metadata['popularity'], errors='raise')

In [23]:
kaggle_metadata['release_date'] = pd.to_datetime(kaggle_metadata['release_date'])

In [24]:
ratings.info(null_counts=True)

/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: null_counts is deprecated. Use show_counts instead
  """Entry point for launching an IPython kernel.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Non-Null Count     Dtype
---  ------     --------------     -----
 0   userId     26024289 non-null  int64
 1   movieId    26024289 non-null  int64
 2   rating     26024289 non-null  float64
 3   timestamp  26024289 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [25]:
pd.to_datetime(ratings['timestamp'], unit='s')

0          2015-03-09 22:52:09
1          2015-03-09 23:07:15
2          2015-03-09 22:52:03
3          2015-03-09 22:52:26
4          2015-03-09 22:52:36
                   ...
26024284   2009-10-31 23:26:04
26024285   2009-10-31 23:33:52
26024286   2009-10-31 23:29:24
26024287   2009-11-01 00:06:30
26024288   2009-10-31 23:30:58
Name: timestamp, Length: 26024289, dtype: datetime64[ns]

In [26]:
ratings['timestamp'] = pd.to_datetime(ratings['timestamp'], unit='s')

In [ ]:
pd.options.display.float_format = '{:20,.2f}'.format
ratings['rating'].plot(kind='hist')
ratings['rating'].describe()

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

ERROR:root:Internal Python error in the inspect module.
Below is the traceback from this internal error.

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/6t/rg670sw10pz613yqkllk7fx40000gn/T/ipykernel_1653/1758089821.py", line 2, in <module>
    ratings['rating'].plot(kind='hist')
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 892, in __call__
    plot_backend = _get_plot_backend(kwargs.pop("backend", None))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 1814, in _get_plot_backend
    module = _load_backend(backend)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 1752, in _load_backend
    module = importlib.import_module("pandas.plotting._matplotlib")
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_matplotlib/__init__.py", line 5, in <module>
    from pandas.plotting._matplotlib.boxplot import (
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_matplotlib/boxplot.py", line 7, in <module>
    from matplotlib.artist import setp
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 963, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 906, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1280, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1249, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1213, in _path_importer_cache
PermissionError: [Errno 1] Operation not permitted

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'PermissionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/6t/rg670sw10pz613yqkllk7fx40000gn/T/ipykernel_1653/1758089821.py", line 2, in <module>
    ratings['rating'].plot(kind='hist')
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 892, in __call__
    plot_backend = _get_plot_backend(kwargs.pop("backend", None))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 1814, in _get_plot_backend
    module = _load_backend(backend)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 1752, in _load_backend
    module = importlib.import_module("pandas.plotting._matplotlib")
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_matplotlib/__init__.py", line 5, in <module>
    from pandas.plotting._matplotlib.boxplot import (
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_matplotlib/boxplot.py", line 7, in <module>
    from matplotlib.artist import setp
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 963, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 906, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1280, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1249, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1213, in _path_importer_cache
PermissionError: [Errno 1] Operation not permitted

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'PermissionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3474, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2080, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1368, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1268, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1125, in structured_traceback
    tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 696, in getsourcefile
    if getattr(getmodule(object, filename), '__loader__', None) is not None:
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 725, in getmodule
    file = getabsfile(object, _filename)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 709, in getabsfile
    return os.path.normcase(os.path.abspath(_filename))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/posixpath.py", line 383, in abspath
    cwd = os.getcwd()
PermissionError: [Errno 1] Operation not permitted
Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3457, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/var/folders/6t/rg670sw10pz613yqkllk7fx40000gn/T/ipykernel_1653/1758089821.py", line 2, in <module>
    ratings['rating'].plot(kind='hist')
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 892, in __call__
    plot_backend = _get_plot_backend(kwargs.pop("backend", None))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 1814, in _get_plot_backend
    module = _load_backend(backend)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_core.py", line 1752, in _load_backend
    module = importlib.import_module("pandas.plotting._matplotlib")
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/importlib/__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1006, in _gcd_import
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 967, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 677, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 728, in exec_module
  File "<frozen importlib._bootstrap>", line 219, in _call_with_frames_removed
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_matplotlib/__init__.py", line 5, in <module>
    from pandas.plotting._matplotlib.boxplot import (
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/pandas/plotting/_matplotlib/boxplot.py", line 7, in <module>
    from matplotlib.artist import setp
  File "<frozen importlib._bootstrap>", line 983, in _find_and_load
  File "<frozen importlib._bootstrap>", line 963, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 906, in _find_spec
  File "<frozen importlib._bootstrap_external>", line 1280, in find_spec
  File "<frozen importlib._bootstrap_external>", line 1249, in _get_spec
  File "<frozen importlib._bootstrap_external>", line 1213, in _path_importer_cache
PermissionError: [Errno 1] Operation not permitted

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'PermissionError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3377, in run_ast_nodes
    if (await self.run_code(code, result,  async_=asy)):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3474, in run_code
    self.showtraceback(running_compiled_code=True)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2080, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1368, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1268, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1125, in structured_traceback
    tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2960, in _run_cell
    return runner(coro)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/async_helpers.py", line 78, in _pseudo_sync_runner
    coro.send(None)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3186, in run_cell_async
    interactivity=interactivity, compiler=compiler, result=result)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 3396, in run_ast_nodes
    self.showtraceback()
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2080, in showtraceback
    value, tb, tb_offset=tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1368, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1268, in structured_traceback
    self, etype, value, tb, tb_offset, number_of_lines_of_context
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1143, in structured_traceback
    chained_exceptions_tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1082, in format_exception_as_a_whole
    last_unique, recursion_repeat = find_recursion(orig_etype, evalue, records)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 382, in find_recursion
    return len(records), 0
TypeError: object of type 'NoneType' has no len()

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py", line 2077, in showtraceback
    stb = value._render_traceback_()
AttributeError: 'TypeError' object has no attribute '_render_traceback_'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 1101, in get_records
    return _fixed_getinnerframes(etb, number_of_lines_of_context, tb_offset)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 248, in wrapped
    return f(*args, **kwargs)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/ultratb.py", line 281, in _fixed_getinnerframes
    records = fix_frame_records_filenames(inspect.getinnerframes(etb, context))
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1502, in getinnerframes
    frameinfo = (tb.tb_frame,) + getframeinfo(tb, context)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 1460, in getframeinfo
    filename = getsourcefile(frame) or getfile(frame)
  File "/Users/delasoulisdead/opt/anaconda3/envs/PythonData/lib/python3.7/inspect.py", line 696, in getsourcefile